body {
    font-family: "poppins", sans-serif;
    font-size: 15px;
}

@media screen and (max-width: 950px){   
    .container {
        max-width: 90%;
        margin: auto;
    }
}

header {
    margin-top: 50px;
    text-align: center;
}

header h1 {
    font-size: 1.5rem;
}

header p:first-child {
    margin-bottom: 0;
}

p {
    width: 100%;
    font-weight:200;
}

p:first-child {
    font-size: 1.4rem;
}

.card {
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 9px 22px -12px rgba(14,14,14,0.5);
    -moz-box-shadow: 5px 9px 22px -12px rgba(14,14,14,0.5);
    box-shadow: 5px 9px 22px -12px rgba(14,14,14,0.5);
    margin-bottom: 20px;
}

.cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.red {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.orange {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.blue {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.card img {
    display: block;
    max-width: 100%;
    margin-left: auto;
}

@media screen and (min-width: 950px) {
    .container {
        padding: 10px;
    }
    .cards {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .card {
        width:250px;
        margin: 10px;
    }

    .card:nth-of-type(1), 
    .card:last-child {
       align-self: center;
    }
}